body {
	min-width: 320px;
	min-height: var(--viewport-height);
	line-height: 1;
	word-wrap: break-word;
	overflow-x: hidden;
}
body:before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: var(--background-height);
	z-index: 0;
	pointer-events: none;
	transform: scale(1);
	background-attachment: scroll;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.66796875%200%200%200%200%200%200.28125%200%200%200%200%200%200.65234375%200%200%200%200%200%200.33984375%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E"),
		linear-gradient(
			135deg,
			rgba(32, 232, 245, 0.812) 39%,
			rgba(4, 42, 140, 0.78) 88%
		);
	background-size: 512px, cover, 29rem;
	background-position: center, 0% 0%, top;
	background-repeat: repeat, repeat, repeat-y;
	background-color: #b21db5;
}

:root {
	--site-language-direction: ltr;
	--site-language-alignment: left;
	--viewport-height: 100vh;
	--background-height: 100vh;
}
html {
	font-size: 18pt;
}
a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}

#main {
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	align-items: center;
	justify-content: center;
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	transition: opacity 1.5s ease-in-out 0s;
}
#main > .inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 5rem 3rem;
	max-width: 100%;
	width: 45rem;
}
#main > .inner > * {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

h1.style1 {
	margin-top: 0.675rem;
}
h1.style1 {
	color: #ffffff;
	font-family: "Inter", sans-serif;
	letter-spacing: -0.1rem;
	width: 100%;
	font-size: 2.75em;
	line-height: 1.125;
	font-weight: 300;
}
p.style3 {
	text-align: center;
	color: rgba(0, 0, 0, 0.561);
	font-family: "Inter", sans-serif;
	letter-spacing: -0.1rem;
	width: 100%;
	font-size: 2.375em;
	line-height: 1.375;
	font-weight: 300;
}
p.style4 {
	color: rgba(0, 0, 0, 0.612);
	font-family: "Inter", sans-serif;
	font-size: 1.5em;
	line-height: 1.75;
	font-weight: 300;
}
.container {
	position: relative;
}
.container > .wrapper {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}
.container > .wrapper > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}
.container.style1 > .wrapper > .inner {
	text-align: center;
	padding: 2rem 0rem;
}
.container.style1 {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}
.container.style1 > .wrapper {
	width: 100%;
	max-width: 45rem;
}
.container.style1.default > .wrapper > .inner > * {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.container.style1.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}
.container.style1.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}
.container.style2 > .wrapper > .inner {
	text-align: center;
	padding: 5rem 6rem;
}
.container.style2 {
	display: flex;
	width: 100%;
	min-height: 18rem;
	align-items: flex-start;
	justify-content: center;
	background-color: #ffffff;
	box-shadow: 0rem 1rem 3.375rem 0rem rgba(61, 31, 38, 0.349);
	border-radius: 1rem;
}
.container.style2 > .wrapper {
	width: 100%;
	max-width: 45rem;
}
.container.style2.default > .wrapper > .inner > * {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
.container.style2.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}
.container.style2.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}
.container.style3 > .wrapper > .inner {
	text-align: center;
	padding: 2.125rem 3.75rem;
}
.container.style3 {
	display: flex;
	width: 100%;
	min-height: 18rem;
	align-items: flex-start;
	justify-content: center;
	background-color: #ffffff;
	box-shadow: 0rem 1rem 2rem 0rem rgba(61, 31, 38, 0.212);
	border-radius: 0.625rem;
}
.container.style3 > .wrapper {
	width: 100%;
	max-width: 45rem;
}
.container.style3.default > .wrapper > .inner > * {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.container.style3.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}
.container.style3.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}
.container.style3.default > .wrapper > .inner > .full {
	margin-left: calc(-3.75rem);
	width: calc(100% + 7.5rem + 0.4725px);
	max-width: none;
}
.container.style3.default > .wrapper > .inner > .full:last-child {
	margin-bottom: -2.125rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
.buttons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}
.buttons li a {
	align-items: center;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
.buttons.style1 {
	width: calc(100% + 1.125rem);
	margin-left: -0.5625rem;
}
.buttons.style1 li {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 1.125rem);
	margin: 0.5625rem;
}
.buttons.style1 li a {
	display: flex;
	width: auto;
	height: 3rem;
	line-height: 3rem;
	vertical-align: middle;
	padding: 0 1.5rem;
	font-size: 1em;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	border-radius: 0.625rem;
	transition: color 0.25s ease, background-color 0.25s ease,
		border-color 0.25s ease;
}
.buttons.style1 li a svg {
	display: block;
	width: 1.375em;
	min-width: 16px;
	height: 100%;
	fill: #ffffff;
	margin-right: calc(0.5em + 0rem);
	margin-left: -0.125em;
	transition: fill 0.25s ease;
}
.buttons.style1 li a .label {
	direction: var(--site-language-direction);
}
.buttons.style1 .button {
	color: #ffffff;
	border: solid 1px rgba(255, 255, 255, 0.451);
}
.buttons.style1 .button svg {
	fill: rgba(255, 255, 255, 0.451);
}
.buttons.style1 .button:hover {
	color: #ffdbd6 !important;
	border-color: #ffdbd6 !important;
}
.buttons.style1 .button:hover svg {
	fill: #ffdbd6 !important;
}
hr {
	width: 100%;
	position: relative;
	padding: 0;
	border: 0;
}
hr:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}
hr.style1:before {
	height: 5rem;
	border-left: solid 1px rgba(255, 255, 255, 0.451);
	width: 1px;
}
.video {
	position: relative;
}
.video .frame {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}
.video .frame:before {
	content: "";
	display: block;
	width: 100%;
}
.video .frame iframe {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000000;
}
.video.full .frame {
	display: block;
}
.video.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
#video01 .frame {
	width: 100vw;
}
#video01 .frame:before {
	padding-top: 56.25%;
}
.image {
	position: relative;
	max-width: 100%;
	display: block;
}
.image .frame {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}
.image .frame img {
	width: inherit;
	max-width: 100%;
	vertical-align: top;
	border-radius: 0 !important;
}
#image01 .frame {
	width: 7.25rem;
	border-radius: 100%;
	transition: none;
}
#image01 .frame img {
	transition: none;
}
@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}
@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}
@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}
@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	#main > .inner {
		padding: 3.5rem 1.5rem;
	}
	#main > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	h1.style1 {
		letter-spacing: -0.0875rem;
		width: 100%;
		font-size: 2.75em;
		line-height: 1.125;
	}
	p.style3 {
		letter-spacing: -0.0875rem;
		width: 100%;
		font-size: 2.375em;
		line-height: 1.375;
	}
	p.style4 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1.5em;
		line-height: 1.75;
	}
	.container.style1 > .wrapper > .inner {
		text-align: center !important;
		padding: 2rem 0rem;
	}
	.container.style1 > .wrapper > .inner h1 {
		text-align: inherit !important;
	}
	.container.style1 > .wrapper {
		max-width: 100%;
	}
	.container.style1.default > .wrapper > .inner > * {
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
	}
	.container.style2 > .wrapper > .inner {
		padding: 3.5rem 2rem;
	}
	.container.style2 {
		min-height: 13.5rem;
	}
	.container.style2 > .wrapper {
		max-width: 100%;
	}
	.container.style2.default > .wrapper > .inner > * {
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
	}
	.container.style3 > .wrapper > .inner {
		padding: 2.125rem 2rem;
	}
	.container.style3 {
		min-height: 13.5rem;
	}
	.container.style3 > .wrapper {
		max-width: 100%;
	}
	.container.style3.default > .wrapper > .inner > * {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.container.style3.default > .wrapper > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
	}
	.container.style3.default > .wrapper > .inner > .full:last-child {
		margin-bottom: -2.125rem !important;
	}
	.buttons.style1 li a {
		font-size: 1em;
		letter-spacing: 0rem;
	}
	.buttons.style1 li a svg {
		width: 1.375em;
	}
	hr.style1:before {
		height: 5rem;
	}
	#image01 .frame {
		width: 7.25rem;
	}
}
@media (max-width: 480px) {
	#main > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	.container.style1.default > .wrapper > .inner > * {
		margin-top: 0.21875rem;
		margin-bottom: 0.21875rem;
	}
	.container.style2.default > .wrapper > .inner > * {
		margin-top: 1.09375rem;
		margin-bottom: 1.09375rem;
	}
	.container.style3.default > .wrapper > .inner > * {
		margin-top: 1.3125rem;
		margin-bottom: 1.3125rem;
	}
}
@media (max-width: 360px) {
	#main > .inner {
		padding: 2.625rem 1.125rem;
	}
	#main > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	h1.style1 {
		font-size: 2em;
	}
	p.style3 {
		font-size: 2em;
	}
	p.style4 {
		font-size: 1.5em;
	}
	.container.style1 > .wrapper > .inner {
		padding: 1.5rem 0rem;
	}
	.container.style1.default > .wrapper > .inner > * {
		margin-top: 0.1875rem;
		margin-bottom: 0.1875rem;
	}
	.container.style2 > .wrapper > .inner {
		padding: 2.625rem 1.5rem;
	}
	.container.style2 {
		min-height: 9rem;
	}
	.container.style2.default > .wrapper > .inner > * {
		margin-top: 0.9375rem;
		margin-bottom: 0.9375rem;
	}
	.container.style3 > .wrapper > .inner {
		padding: 1.59375rem 1.5rem;
	}
	.container.style3 {
		min-height: 9rem;
	}
	.container.style3.default > .wrapper > .inner > * {
		margin-top: 1.125rem;
		margin-bottom: 1.125rem;
	}
	.container.style3.default > .wrapper > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
	}
	.container.style3.default > .wrapper > .inner > .full:last-child {
		margin-bottom: -1.59375rem !important;
	}
	.buttons.style1 {
		width: calc(100% + 0.84375rem);
		margin-left: -0.421875rem;
	}
	.buttons.style1 li {
		max-width: calc(100% - 0.84375rem);
		margin: 0.421875rem;
	}
}
/*! CSS Used fontfaces */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZJhiI2B.woff2)
		format("woff2");
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
		U+FE2E-FE2F;
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZthiI2B.woff2)
		format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZNhiI2B.woff2)
		format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZxhiI2B.woff2)
		format("woff2");
	unicode-range: U+0370-03FF;
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZBhiI2B.woff2)
		format("woff2");
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
		U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhiI2B.woff2)
		format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/inter/v7/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
